<header>
	<div class="collapse bg-dark" id="navbarHeader">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-7 py-4">
					<h4 class="text-white">About</h4>
					<p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
				</div>
				<div class="col-sm-4 offset-md-1 py-4">
					<h4 class="text-white">Contact</h4>
					<ul class="list-unstyled">
						<li><a href="#" class="text-white">Follow on Twitter</a></li>
						<li><a href="#" class="text-white">Like on Facebook</a></li>
						<li><a href="#" class="text-white">Email me</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-dark bg-dark box-shadow">
		<div class="container d-flex justify-content-between">
			<a href="#" class="navbar-brand d-flex align-items-center">
				<img src="/assets/cooking.png" class="mr-2">
				<strong class="pt-2">Cookbook</strong>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>
</header>

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">CookBook</h1>
		<p class="lead text-muted">Bem-vindo ao maior livro de receitas online</p>
		<p>
			<%= link_to 'Enviar uma receita', new_recipe_path, class: "btn btn-primary my-2" %>
			<%= link_to 'Cadastrar tipo de receita', new_recipe_type_path, class: "btn btn-secondary my-2" %>
			<%= link_to 'Cadastrar cozinha', new_cuisine_path, class: "btn btn-secondary my-2" %>
		</p>
	</div>
</section>

<div class="container">
	<% @recipes.each do |recipe| %>
	<h1><%= link_to recipe.title, recipe %></h1>
	<ul>
		<li><%= recipe.recipe_type.name %></li>
		<li><%= recipe.cuisine.name %></li>
		<li><%= recipe.difficulty %></li>
		<li><%= recipe.cook_time_min %></li>
	</ul>
	<% end %>
</div>